Package: check
Version: 0.10.0-3
Architecture: amd64
Maintainer: Robert Lemmen <robertle@semistable.com>
Installed-Size: 3608
Depends: dpkg (>= 1.15.4) | install-info, mawk, libsubunit-dev
Section: devel
Priority: optional
Multi-Arch: same
Homepage: http://check.sourceforge.net/
Description: unit test framework for C
 Check features a simple interface for defining unit tests, putting
 little in the way of the developer. Tests are run in a separate
 address space, so Check can catch both assertion failures and code
 errors that cause segmentation faults or other signals. The output
 from unit tests can be used within source code editors and IDEs.
